.FilterForm {
  display: flex;
  flex-flow: column nowrap;
}

.FilterForm__row__item {
  display: flex !important;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin: 0 !important;
}

.FilterForm__row__item > :nth-child(2) {
  width: 100%;
}

.FilterForm__button {
  width: 100%;
  border-radius: 50px;
}
