.FlightCardContent {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.FlightCardContent__departure {
  display: flex;
  flex-flow: column nowrap;
}

.FlightCardContent__departure
.icao {
  font-size: 2rem;
}

.FlightCardContent__departure
.city-name {
  font-weight: bold;
}

.FlightCardContent__arrival {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.FlightCardContent__arrival
.icao {
  font-size: 2rem;
}

.FlightCardContent__arrival
.city-name {
  font-weight: bold;
}

.FlightCardContent__footer {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #e3e3e3;
}
