.FlightCardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.FlightCardHeader__avatar-wrapper {
  display: flex;
  align-items: center;
  flex: 1 1;
}

.FlightCardHeader__avatar-wrapper__operator-name {
  margin-left: 0.5rem;
}
