.FlightsDashboard {
  height: 100%;
}

.FlightsDashboard__filter-form {
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: #fff;
}

.FlightsDashboard__flights-list {
  max-height: 100%;
  max-width: 100%;
  overflow-y: auto;
  padding: 1rem 1rem 0 1rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: #fff;
}
