@import url('https://fonts.googleapis.com/css?family=Play');

.custom-header {
  background-color: #FAFAFA;
}

.custom-sidebar {
  background-color: #FAFAFA;
  min-height: 100%;
}

.custom-sider-head {
  font-family: 'Play', sans-serif;
  font-size: 18px;
  height: 64px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  -webkit-box-shadow: 0px 4px 2px -1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 4px 2px -1px rgba(0,0,0,0.2);
  box-shadow: 0px 4px 2px -1px rgba(0,0,0,0.2);
}

.custom-menu {
  background: #FAFAFA;
}

/* start of fade in effect on logo */
.fade-in {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.user-date{
  float: left;
  font-size: 12px;
  margin-top: 3px;
  margin-right: 3px;
  font-family: Rubik-Regular;
}

.active{
  color: #1496F4;
  border-bottom: 5px #1496F4;

}

.ant-layout-content{
  padding: 24px 16px 0 16px;
  background-image:  url("https://scontent-gru2-2.xx.fbcdn.net/v/t1.0-9/36241077_1929533397110078_7630858039637049344_o.jpg?_nc_cat=0&oh=6166b24a398214d51e0898c58382adad&oe=5BB974A0");
  background-repeat: repeat-x;
  background-position: top center;
}

.card-tab{
  background: white;
  padding: 15px;
}

.ant-tabs-bar{
  margin-bottom: 0;
}
/* end of fade in effect on logo */
